.movie-container {
    width: 95%;
    max-width: 60rem;
    margin: 2rem auto;
    font-size: 1.25rem;
    line-height: 2rem;
    background: linear-gradient( #92FE9D, #00C9FF);
    border-radius: 6px;
    padding: 1rem;
  }

.heading {
  font-weight: bold;
}  